p {
  font-size: 20px;
  Color: #e6e6e6;
  font-family: Arial, Helvetica, sans-serif;
 }

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  color: #e6e6e6;
  margin-bottom: 10px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #b0b0b8;
}

#images {
   border: 10px outset #a7e77e;
   padding: 10px;
 }

body {
   background-color: #32323c;
   font-family: Arial, Helvetica, sans-serif;
 }

 /* Navigation Styles */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0px;
  z-index: 1000;
  background-color: rgba(50, 50, 60, 0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.52);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #e6e6e6;
  text-decoration: none;
  transition: color 0.3s, border-bottom 03;
  padding-bottom: 5px;
  position: relative;
}

nav a:hover {
  color: #1b1b20;
  border-bottom: 2px solid #e6e6e6;
}

/* Header Section Styles */

.welcome-paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #e6e6e6;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 2rem;
  padding-top: 50;
  background-image: url("profile.jpg.JPG");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.header-content, 
.button-container {
  position: relative;
  z-index: 1;
}

/* Header Section Styles - Button */

div ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div li {
  margin: 0 10px;
  padding: 30px;
}

button {
  text-transform: uppercase;
  position: relative;
  border: none;
  font-size: 18px;
  transform: 0.2s;
  background-color: 0.2s;
  outline: none;
  border-radius: 3px;
  margin: 0 10px;
  padding: 23px 33px;
  border: 3px solid transparent;
}

button:active {
  transform: translate(3px);
}

button::after, 
button::after {
  border-radius: 3px;
}

.shrink-border {
  background-color: transparent;
  /*color: #1b1b20;*/
  color: #d3d3d3;
}

.shrink-border:hover {
  background-color: transparent;
  box-shadow: none;
  color: #e6e6e6;
}

.shrink-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*border: 3px solid #1b1b20*/
  border: 3px solid #959595;

  transition: opacity 0.3s, border 0.3s;
}

.shrink-border:hover::before {
  opacity: 0;
}

.shrink-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 3px solid #e6e6e6;
  opacity: 0;
  z-index: -1;
  transform: scaleX(1.1) scaleY (1.3);
  transition: transform 0.3s, opacity 0.3;
}

.shrink-border:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

/* Lorem Section - will add text later */

.chapter-section {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  padding: 20px;
  margin: 80px auto;
  max-width: 800px;
  box-shadow: 0 4px, 15px rgba(0, 0, 0, 0.1);
}

.chapter-section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #e6e6e6;
  margin-bottom: 5px;
  border-bottom: 2px solid #e6e6e6;
  display: inline-block;
  padding-bottom: 5px;
}

.chapter-section p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #e6e6e6;
  line-height: 1.6;
} 

/* Footer Section Styles */

footer {
  background-color: #1b1b20;
  padding: 40px 0;
  color: #e6e6e6;
}

.footer-content {
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  color: #e6e6e6;
  text-decoration: none;
  transform: color 0.3s;
}

.footer-links a:hover {
  color: #2b6289;
}

.footer-social {
  margin-top: 0;
}

.footer-social a{
  color: #e6e6e6;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #2b6289;
}

/* Contact Form Styles */

.contact-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba (0, 0. 0, 0.1);
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input [type="text"]
input [type="email"]
input [type="tel"]
select,
textarea {
  width: 100%;
  padding: 0.75 rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

button [type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button [type="submit"]:hover {
  background-color: #0056b3;
}

input:valid,
textarea:valid,
select:valid {
  border-color: black;
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
  border-color: black;
}

.error-message {
  color: black;
  font-size: 0.875rem;
  margin-top: 0.25rem;
} 

/* I-Frame Styling */

.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /*16:9 aspect ratio */
  margin: 2rem 0;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Gallery Section Styles */

#main-gallery-container {
  margin-top: 50px;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 50vw;
  margin: 20px auto;
}

figure {
  margin: 10px;
  padding: 0px;
  position: relative;
}

figure img {
  width: 100%;
}

#gallery img {
  padding: 0px;
  border: 3px solid #fff;
  box-shadow: 0px 0px 3px #ccc;
  z-index: -1;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

figcaption {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
  color: #1b1b20;
  z-index: 1;
  padding: 9px 0px 11px 0px;
  font-size: 15px;
  position: absolute;
  bottom: 6px;
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .iframe-container {
    padding-bottom: 75%; /* Adjust aspect ratio for mobile */
  }
}

/* For screens smaller than 768px (e.g., tablets, phones) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* For screens larger than 1024px (e.g., desktops) */
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

/* CSS Grid Layout Example */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.grid-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 2rem;
  padding-top: 50;
  position: relative;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.left,
.middle,
.right {
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Typography Example */

.typography-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 2rem;
  padding-top: 50;
  position: relative;
}

.typography-content {
  .large-text {
      font-size: 60px;
    }
    .small-text {
      font-size: 24px;
    }
    .medium-text {
      font-size: 32px;
    }
    .paragraph-text {
      font-size: 10px;
    }

    .paragraph-text2 {
      font-size: 100px;
    }
}

.typography-text {
  font-family:'Courier New', Courier, monospace;
}

.float-container {
    overflow: hidden; /* Clears floats */
  }
  .box {
    float: left;
    width: 48%; /* Adjust width to fit side by side */
    margin-right: 4%; /* Adds space between containers */
    padding: 40px;
    background-color: #32323c;
    text-align: center;
  }
  .box:last-child {
    margin-right: 0; /* Removes margin for the last container */
  }

/* This is the CSS Framework challenge */

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 100vw;
  text-align: center;
  padding: 1rem;
  padding-top: 0;
  position: relative;
}

.skills-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.skills-content, 
.button-container {
  position: relative;
  z-index: 1;
}

/* Skills Section Styles - Button */

div ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div li {
  margin: 0 10px;
  padding: 30px;
}

button {
  text-transform: uppercase;
  position: relative;
  border: none;
  font-size: 18px;
  transform: 0.2s;
  background-color: 0.2s;
  outline: none;
  border-radius: 3px;
  margin: 0 10px;
  padding: 23px 33px;
  border: 3px solid transparent;
}

button:active {
  transform: translate(3px);
}

button::after, 
button::after {
  border-radius: 3px;
}

.shrink-border {
  background-color: transparent;
  /*color: #1b1b20;*/
  color: #d3d3d3;
}

.shrink-border:hover {
  background-color: transparent;
  box-shadow: none;
  color: #e6e6e6;
}

.shrink-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*border: 3px solid #1b1b20*/
  border: 3px solid #959595;

  transition: opacity 0.3s, border 0.3s;
}

.shrink-border:hover::before {
  opacity: 0;
}

.shrink-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 3px solid #e6e6e6;
  opacity: 0;
  z-index: -1;
  transform: scaleX(1.1) scaleY (1.3);
  transition: transform 0.3s, opacity 0.3;
}

.shrink-border:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.float-container {
    overflow: hidden; /* Clears floats */
  }
  .box {
    float: left;
    width: 20%; /* Adjust width to fit side by side */
    margin-right: 4%; /* Adds space between containers */
    padding: 40px;
    background-color: #32323c;
    text-align: center;
  }
  .box:last-child {
    margin-right: 0; /* Removes margin for the last container */
  }

/* Service Section Styles */

#services-gallery-container {
  margin-top: 50px;
}

#services-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  margin: 20px auto;
}

figure {
  margin: 10px;
  padding: 0px;
  position: relative;
}

figure img {
  width: 100%;
}

#services-gallery img {
  padding: 0px;
  border: 3px solid #fff;
  box-shadow: 0px 0px 3px #ccc;
  z-index: -1;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

figcaption {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
  color: #1b1b20;
  z-index: 1;
  padding: 9px 0px 11px 0px;
  font-size: 25px;
  position: absolute;
  bottom: 6px;
}

/* Testimonial Section Styles */

.testimonial-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align:center;
}

.testimonial-content {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
 text-align:center;
}

#testimonial-gallery-container {
  margin-top: 50px;
}

#testimonial-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50vw;
  margin: 20px auto;
  align-items: center;
}

figure {
  margin: 10px;
  padding: 0px;
  position: relative;
}

figure img {
  width: 100%;
}

#testimonial-gallery img {
  padding: 0px;
  border: 3px solid #fff;
  box-shadow: 0px 0px 3px #ccc;
  z-index: -1;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

figcaption {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
  color: #1b1b20;
  z-index: 1;
  padding: 9px 0px 11px 0px;
  font-size: 15px;
  position: absolute;
  bottom: 6px;
}

/* Realty Site - Navigation Styles */


    h9 {
      font-family: Arial, Helvetica, sans-serif;
      color: #e6e6e6;
    }

     #nav-bar{
        height: 80px;
        display: flex;
        justify-content: center;
    }

    #nav-bar img{
        height: 100%;
    }
    .nav-links{
        display: flex;
    }
    .nav-links li{
        width: 100px;
        margin: 10px 100px;
    }

    .header-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    #nav a:hover {
      color: gold;
      border-bottom: 2px solid #e6e6e6;
    }

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }
}